.about-us-header {
  text-align: center;
}

.breadcrumb {
  font-size: 1.0rem;
  font-weight: bold;
  color: #555555;
  margin-bottom: -1%;
}

.breadcrumb a {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}

.main-div {
  display: flex;
  margin-top: 5px;
  justify-content: space-around;
  align-items: normal;
  background-color: #042e5c;
  color: white;
  height: 350px;
  padding: 10px;
}
.body {
  background-image: url("../assets/gov/img/conta.avif");
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px;
  color: white;
}
.main-div iframe {
  height: max-content;
  width: max-content;
}
.addressdiv {
  margin-top: 5%;
  margin-left: 20%;
  text-align: start;
}

.contact-us {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 3%;
  padding: 10px;
  margin-right: 5%;

  /* border: 1px solid #ddd; */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  font-weight: 600;
}

.contact-us .form-group {
  margin-bottom: 5px;
}

.contact-us label {
  display: block;
}

.contact-us input,
.contact-us textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-us textarea {
  resize: vertical;
  height: 80px;
}

.contact-us button {
  display: block;
  width: 100%;
  padding: 10px;
  font-weight: 800;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contact-us button:hover {
  background-color: #0056b3;
}
