#Login-box {
    margin-top:120px;
    max-width:600px;
    height:250px;
    border:1px solid #9c9c9c;
    background-color: white;
}
.loginform {
    margin-left: 32%;
    margin-top: 6%;
    width: 34%;
    border: 2px solid transparent;
    padding: 15px;
    border-radius: 6px;
    background-color: #a3b3de3e;
  }
 
  .login-head {
    font-weight: 700;
    margin-bottom: 8%;
    text-align: center;
  }
  .login{
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .login input{
    margin-bottom: 8px;
    width: 380px;
  }
  