h1{
    margin-bottom: 0%;
    background-color:black;
    color:white;
    font-weight: 600;
    padding: 5px;
}
.maindiv{
    display: flex;
    justify-content: space-between;

}
.maindiv input {
    width:40%;
    margin-top: 10px;
   margin-left: 15px;
}
.maindiv button{
    margin-top: 10px;

    height: max-content;
}
.schemes{
    display: flex;
    justify-content: space-around;
}